<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Comments</title>
  </head>
  <body>
    <div>
      <form action="" method="post">
        <section>
          <label for="username">Enter username</label>
          <input type="text" id="username" placeholder="enter user name" />
        </section>
        <br />
        <section>
          <label for="comments"></label>
          <textarea
            name="commments"
            id="comments"
            cols="30"
            rows="10"
          ></textarea>
        </section>
        <button>submit</button>
      </form>
    </div>
  </body>
</html>
