<%- include('partials/head') %>
<body>
  <%- include('partials/navBar') %>
  <h1>Home Page</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet alias nemo
    consequatur consequuntur ducimus eligendi nostrum soluta suscipit maxime
    quod.
  </p>
  <%- include('partials/footer') %>
</body>
